h1, h2,
h3, h4, h5 {
  margin-top: 25px;
  margin-bottom: 25px; }

p {
  color: grey; }

ul, li {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  padding: 0px;
  margin: 0px; }

header {
  padding-top: 50px;
  padding-left: 50px; }

.logo {
  background-color: red;
  height: 50px;
  width: 50px; }

main {
  padding-left: 50px; }

.intro {
  font-size: 18px;
  padding-top: 150px;
  opacity: 0.2; }

.title {
  width: 100%;
  font-size: 45px; }

.p-text {
  width: 75%;
  color: black; }

.link {
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-top: 50px; }
  .link a {
    color: black;
    font-weight: bold;
    font-size: 18px; }
    .link a:hover {
      color: #e250ed; }

.arrow {
  padding-left: 25px; }

@media (min-width: 1024px) {
  .intro {
    margin-top: 50px; }
  .p-text {
    margin-top: 100px; }
  .link {
    margin-top: 100px; } }

.navigation {
  width: 100%; }

.nav-toggle {
  padding-top: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .nav-toggle span,
  .nav-toggle span:before,
  .nav-toggle span:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #333;
    position: relative;
    transition: all 0.2s ease-in-out; }
  .nav-toggle span::before {
    top: 10px; }
  .nav-toggle span::after {
    top: -12px; }
  .nav-toggle:hover span {
    background: transparent; }
  .nav-toggle:hover span::before,
  .nav-toggle:hover span::after {
    transform-origin: center;
    transform: rotate(0deg);
    top: 0;
    background-color: #e250ed; }
  .nav-toggle:hover span::after {
    transform: rotate(0deg); }

.nav-toggle-close {
  display: flex;
  margin-left: 90vw;
  margin-bottom: 50vh;
  padding-top: 36px;
  height: 50px;
  width: 50px;
  cursor: pointer; }
  .nav-toggle-close span,
  .nav-toggle-close span:before,
  .nav-toggle-close span:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    position: relative;
    transition: all 0.2s ease-in-out; }
  .nav-toggle-close span::before {
    top: 10px; }
  .nav-toggle-close span::after {
    top: -12px; }
  .nav-toggle-close span {
    background: transparent; }
  .nav-toggle-close span::before,
  .nav-toggle-close span::after {
    transform-origin: center;
    transform: rotate(45deg);
    top: 0; }
  .nav-toggle-close span::after {
    transform: rotate(-45deg); }
  .nav-toggle-close:hover span::before,
  .nav-toggle-close:hover span::after {
    background-color: #e250ed; }
  .nav-toggle-close:hover span::after {
    transform: rotate(0deg); }
  .nav-toggle-close:hover span::before {
    transform: rotate(0deg); }

.nav-is-open .site-container,
.nav-is-open .offsite-container {
  transform: translateX(15rem); }

.nav-is-open {
  transform: translatex(15rem);
  margin-left: -40px;
  background-color: black;
  height: 100vh;
  width: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .nav-is-open ul {
    margin-bottom: 90px;
    color: black;
    padding-left: 50px; }
    .nav-is-open ul li {
      padding-top: 25px; }
      .nav-is-open ul li a {
        font-size: 50px;
        color: white;
        font-family: 'Song Myung', serif; }

.offsite-container {
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  background-color: black;
  transition: transform 0.3s ease-out; }

@media (min-width: 768px) {
  .dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; }
    .dots a {
      margin-top: 35px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: black;
      opacity: .5; }
    .dots a:hover {
      background-color: #e250ed; } }

footer {
  margin-bottom: 25px;
  display: flex;
  align-self: flex-end;
  padding-left: 50px; }

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr); }

.col {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  height: 100vh;
  padding-left: 75px; }

.col1 {
  grid-column: span 7;
  grid-row: span 4;
  height: 100vh; }

.col2 {
  display: none;
  grid-column: span 3;
  grid-row: span 4;
  background-color: #e250ed; }

.col3 {
  grid-column: span 1;
  grid-row: span 4; }

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(13, 1fr); }
  .col {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    height: 100vh;
    padding-left: 75px; }
  .col1 {
    grid-column: span 5;
    grid-row: span 4;
    height: 100vh; }
  .col2 {
    grid-column: span 6;
    grid-row: span 4;
    background-color: #e250ed; }
    .col2 .col3 {
      grid-column: span 1;
      grid-row: span 4; } }

@media (min-width: 1068px) {
  .container {
    display: grid;
    grid-template-columns: repeat(9, 1fr); }
  .col {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    height: 100vh;
    padding-left: 75px; }
  .col1 {
    grid-column: span 4;
    grid-row: span 4;
    height: 100vh; }
  .col2 {
    grid-column: span 4;
    grid-row: span 4;
    background-color: #e250ed; }
  .col3 {
    margin-right: 50px;
    grid-column: span 1;
    grid-row: span 4; } }
